*all{
    padding: 0;
    margin: 0;
}

#navbar{
    display: flex;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
    opacity: 0.6;
}

#navbar img{
    height: 60px;
    margin: 0px 40px;
    filter: invert(1);
}

#navbar ul{
    display: flex;
    padding-left: 4px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 3px 22px;
    color: white;
    border-radius: 20px;
}

#navbar ul li a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    background-color: black;
    color: grey;
}
.container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    z-index: 10;
}

.divider{
    border: none;
    height: 100vh;
    margin-top: 4px;
    border-radius: 20px;
}

#container1{
    background-color: #1a2e35;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container2{
    background-color: #1cbbb4;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop{
    height: 50px;
    width: 300px;
    position: relative;
    box-shadow: 12px 12px 10px rgb(0, 0, 0);
}

#startstop{
    right: 30px;
    border-radius: 20px;
}

#deststop{
    right: 30px;
    border-radius: 20px;
}

.search{
        height: 48px;
        position: relative;
        z-index: 13;
        margin: 41px;
    }
    

#startsearch{
    filter: invert(1);
}

.journeytext{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);;
    
}

#text1{
    position: absolute;
    float: center;
    flex-direction: column;
    top: 35%;
    font-size: 40px;
    left: 32%;
    color: white;
    
}

#text2{
    position: absolute;
    float: center;
    flex-direction: column;
    top: 35%;
    font-size: 40px;
    left: 31.5%;
    color: white;
}

#nextpage{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    position: absolute;
    z-index: 22;
    top: 63%;
    left: 44.5%;
    box-shadow: 12px 12px 10px rgb(0, 0, 0);
    cursor: pointer;
}




